.bookslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bookslist__container{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.bookslist__table{
    border-collapse: collapse;
    background-color: bisque;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.bookslist__table td{
    border: none;
    padding: 20px;
    margin: 20px;
    min-width: 200px; 
    background-color: rgb(247, 247, 247);
    text-align: start;
}

.bookslist__table th{
    border: none;
    border-bottom: 3px solid white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.bookslist__table img{
    width: 100%;
}
.bookslist__input{
    margin: 30px auto;
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    

}

.bookslist__text{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 800;
}

.bookslist__nobooks{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 800;
}
.bookslist__nocharacters{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 800;
}

.line{
    width: 80%;
    height: 3px;
    background-color: white;
}